name: Deploy nsite
on:
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
        env:
          VITE_RECOMEND_ROOT_PUBKEY: nprofile1qythwumn8ghj7un9d3shjtnswf5k6ctv9ehx2ap0qy88wumn8ghj7mn0wvhxcmmv9uqzqxq9xqw20sdd97f5jpmv72p0jpdnc8j5p6yxwhs5h9v9d3qtwh3n6869fc

      - name: Deploy to nsite
        uses: sandwichfarm/nsite-action@v0.2.2
        with:
          nbunksec: ${{ secrets.NSITE_BUNKER }}
          directory: "./dist"
          force: true
          purge: true
